@font-face {
  font-family: "PT Sans";
  src:  local("PT Sans"),
        url('../fonts/web/ptsans.woff2') format('woff2'),
        url('../fonts/web/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:  local("PT Sans"),
        url('../fonts/web/ptsansbold.woff2') format('woff2'),
        url('../fonts/web/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-gray: #F2F2F2;
  --alpha-black: rgba(0,0,0,0.3);
  --alpha-white: rgba(255, 255, 255, 0.3);
  --alpha-footer: rgba(255,255,255,0.9);
  --deep-blue: #669EC0;
  --deep-brown: #604E43;
  --deep-gray: #EBEBEB;
  --dark-gray: #A9A9A9;
  --dark-brown: #333333;
  --intense-brown: #503E33;
  --intense-blue: #5496BD;
  --light-gray: #BDBBBC;
  --light-gray-index: #EEEEEE;
  --special-color: #666666;
  --shadow-color: rgba(0,1,1,0.2);
  --gray-border: #E5E5E5;
}

/* Global */

body {
  min-width: 1200px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* wrapper */

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--shadow-color);
}

.wrapper-index {
  position: relative;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* header */

.main-navigation {
  font-weight: bold; 
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--alpha-black);
}

 /* index */ /* about */

.about-text {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 28px;
  margin-top: 33px;
  margin-bottom: 16.5px; 
}

.features-text {
  color: var(--dark-brown);
  margin: 0;
  margin-bottom: 51px;
}

/* features-part1 */

.part1-firstbox {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.part1-firstbox h3 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 47px;
  margin-bottom: 25px;
  text-align: center;
}

.part1-firstbox span {
  display: block;
  margin-bottom: 23px;
  text-align: center;
}

.part1-firstbox p {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

/* features-part2 */

.part2-features-list {
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.part2-list-item h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.part2-list-item p {
  color: var(--dark-brown);
  margin: 0;
}

.part2-list-item h3 {
  margin-top: 160px;
  margin-bottom: 25px;
  text-align: center;
}

.part2-list-item p {
  margin-bottom: 82px;
  text-align: center;
  
}

/* features-part3 */

.part3-secondbox {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.part3-secondbox h3 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.part3-secondbox span {
  display: block;
  margin-bottom: 23px;
  text-align: center;
}

.part3-secondbox p {
  margin-bottom: 51px;
  text-align: center;
}

/* features-part4 */

.features-part4 {
  background-color: var(--light-gray-index);
}

.part4-features-list {
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.part4-list-item h3 {
font-size: 21px;
font-weight: bold;
margin: 0;
margin-top: 47px;
margin-bottom: 25px;
text-align: center;
}

.part4-list-item span {
  display: block;
  margin-bottom: 23px;
  text-align: center;
}

.part4-list-item p {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

/* search */

.search {
  line-height: 24px;
}

.search h3{
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 58px;
  margin-bottom: 16.5px;
}

.search p {
  color: var(--dark-brown);
  margin-bottom: 46.5px;
  text-align: center;
} 

.button-search {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: inherit;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
}

.button-search:hover,
.button-search:focus {
  background-color: var(--deep-brown);
}

.button-search:active {
  color: var(--alpha-white);
  background-color: var(--intense-brown);
}

/* search-popup */

.search-popup {
  position: relative;
}

.search-form {
  position: absolute;
  left: 316px;
  
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-sizing: border-box;
  padding: 55px;
  width: 568px;
  box-shadow: 0 7px 15px var(--shadow-color);
}

.arrival-date {
  margin-right: 20px;
}

.departure-date {
  margin-right: 16px;
}

.adults {
  margin-right: 36px;
}

.children {
  margin-right: 22px;
  margin-left: 63px;
}

.search-form p {
  padding:0;
  margin: 0;
}

.search-form input {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  background-color: var(--basic-gray);
}

.search-form input:hover {
  background-color: var(--deep-gray);
}

.search-form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--gray-border);
}

.search-form .arrival-input,
.search-form .departure-input {
  padding-left: 12px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 346px;
}

.search-form-firstbox p {
  display: inline-block;
}

.search-form-firstbox button {
  padding: 10px;
  border: 0;
}

.search-form-firstbox .button-minus {
  margin-right: -4px;
  background-color: var(--basic-gray);
}

.search-form-firstbox .button-plus {
  margin-left: -4px;
  background-color: var(--basic-gray);
}

.search-form-firstbox input {
  text-align: center;
  margin-bottom: 58px;
  width: 54px;
}

.button-to-find {
  font-size: 21px;
  line-height: inherit;
  font-weight: inherit; 
  text-transform: inherit;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 458px;
  flex-grow: 1;
}

.button-to-find:hover,
.button-to-find:focus {
  background-color: var(--deep-blue);
}

.button-to-find:active {
  color: var(--alpha-white);
  background-color: var(--intense-blue);
}

input[type="number"] {
  -moz-appearance: textfield;
}

.search-popup input[placeholder] {
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: var(--basic-black);
}

/* footer */

.contacts {
  background-color: var(--alpha-footer);
}

.contacts-text {
  font-size: 21px;
  font-weight: bold;
}

.contacts-text a {
  color: var(--basic-black);
}

.contacts-text a:hover,
.contacts-text a:focus {
  color: var(--basic-blue);
}

.contacts-text a:active {
  color: var(--alpha-black);
}

.footer-logo-box a:hover,
.footer-logo-box a:focus {
  color: var(--basic-blue);
}

.footer-logo-box a:active {
  color: var(--light-gray);
}

.contacts-index {
  position: absolute;
  bottom: 8px;
  width: 100%;
  min-height: 120px;
}

/* inner */ /* filter */
.filter {
  color: var(--basic-white);
  background-image: url('../img/background.jpg');
}

.filter-form {
  line-height: 21px;
}

.filter-form fieldset {
  font-size: 16px;
  font-weight: normal;
  border: none;
  margin: 0px;
  padding: 0px;
  margin-top: 26px;
}

.filter-form legend {
  font-weight: bold;
}

.form-container1 legend {
  margin-bottom: 24px;
}

.form-container1 div {
  margin-bottom: 23px;
}

div.wifi,
div.filter-apartments {
  margin-bottom: 36px;
}

.form-container2 legend {
  margin-bottom: 10px
}

.form-container2-price {
  display: flex;
  width: 314px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.form-container2-price p {
  position: relative;
  margin: 0;
}

.form-container2-price p:nth-of-type(1) {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 64px;
  margin-right: 57px; 
}

.form-container2-price p:nth-of-type(1)::after {
  position: absolute;
  left: 158px;
  content: " ";
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.form-container2-price p:nth-of-type(2) {
  padding-top: 6px;
  padding-right: 37px;
  padding-bottom: 6px;
  margin-left: 54px;
}

.filter-button {
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 32px;
  margin-left: 86px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
  background-color: transparent;
  width: 137px;
}

.sorting-box {
  font-size: 12px;
  line-height: 18px;
}

.sorting-box p:nth-of-type(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-box button {
  font-family: inherit;
  border: none; 
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--alpha-black);
  background-color: var(--basic-white);
}

.sorting-box button:hover,
.sorting-box button:focus {
  color: var(--basic-blue);
}

.sorting-box button:active {
  border:none;
  color: var(--basic-black);
}

.sorting-box button.current {
  border:none;
  color: var(--basic-blue);
}

.sorting-box button.current:active {
  color: var(--basic-black);
}

/* hotels */

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-list-item {
  border-bottom: 1px solid var(--gray-border);
}

.hotels-list-item a {
  color: var(--basic-black);
}

.hotels-list-item a:hover,
.hotels-list-item a:focus {
  color: var(--basic-blue);
}

.hotels-list-item a:active {
  color: var(--alpha-black);
}

.hotels-container-img {
  margin: 30px;
  margin-right: 29px;
  margin-left: 73px;
}

.hotels-list-item h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0; 
  margin-top: 23px;
  margin-bottom: 7px; 
}

.hotels-list-item p {
  line-height: 21px;
  color: var(--dark-brown);
  margin: 0;
  margin-bottom: 15px;
}

.hotels-container-firstbox,
.hotels-container-secondbox {
  display: inline-block;
}

.hotels-list-item span {
  line-height: 21px;
  color: var(--special-color);
  background-color: var(--basic-gray);
  margin-bottom: 30px;
  margin-right: 73px;
  padding-top: 3px;
  padding-left: 15px;
  padding-bottom: 3px;
  padding-right: 12px;
}

.hotels a.details {
  line-height: 21px;
  font-weight: bold;
  padding: 3px 17px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.hotels a.details:hover,
.hotels a.details:focus {
  background-color: var(--deep-blue);
}

.hotels a.details:active {
  color: var(--alpha-white);
  background-color: var(--intense-blue);
}

.hotels a.reservation {
  line-height: 21px;
  font-weight: bold;
  padding: 3px 17px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.hotels a.reservation:hover,
.hotels a.reservation:focus {
  background-color: var(--deep-brown);
}

.hotels a.reservation:active {
  color: var(--alpha-white);
  background-color: var(--intense-brown);
}

.hotels-list-item:nth-of-type(2) h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.hotels-list-item:nth-of-type(2) .hotels-container-img {
  margin-top: 22px;
}

/* layout */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-navigation li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.site-navigation li:nth-of-type(1) {
  margin-left: 72px;
  margin-right: 134px;
}

.site-navigation li:nth-of-type(2) {
  margin-right: 418px;
}

.site-navigation li:nth-of-type(3) { 
  margin-right: 147px;
}

.site-navigation li:nth-of-type(4) {
  margin-right: 72px;
}

.main-navigation {
  position: relative;
}

.main-logo {
  position: absolute;
  top: 0px;
  left: 533px;
  z-index: 2;
}

.intro {
  position: relative;
}

.intro-logo {
  position: absolute;
  top: 77px;
  left: 372px;
}

.intro:after {
  content: " ";
  width: 100%;
  height: 58px;
  position: absolute;
  bottom: 5px;
  background-image: url('../img/intro-mask.svg');
  background-repeat: no-repeat;
  background-position: center center; 
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.part1,
.part3 {
  display: flex;
}

.part2-features-list,
.part4-features-list {
  display: flex;
}

.part1 .part1-firstbox {
  flex-basis: 400px;
}

.part1 .part1-secondbox {
  flex-basis: 800px;
}

.part2-features-list li {
  flex-basis: 400px;
}

.part3-firstbox {
  flex-basis: 800px;
}

.part3-secondbox {
  flex-basis: 400px;
}

.part4-features-list li {
  flex-basis: 400px;
}

.features-container {
  display: grid;
  grid-template-rows: 256px 330px 256px 256px;
  grid-template-columns: 1fr 1fr 1fr;
}

.part1,
.part2,
.part3,
.part4 {
  grid-column: 1 / -1;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-list-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 150px;
}

.hotels-list-item span {
  align-self: end;
}

.hotels-container {
  display: flex;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.form-container1 {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 73px;
}

.form-container1 fieldset:nth-of-type(1) {
  padding-right: 119px;
}

.form-container2 fieldset {
  display: flex;
  flex-direction: column;
}

.form-container2 {
  margin-right: 73px;
}

.sorting-box {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--gray-border);
}

.sorting-box p:nth-of-type(1) {
  margin-top: 26px;
  margin-left: 74px;
  margin-right: 46px;
  margin-bottom: 34px;
}

.sorting-box p:nth-of-type(2) {
  margin-top: 16px;
  margin-right: 40px;
}

.sorting-box button {
  text-transform: uppercase;
  margin-right: 33px;
}
