@font-face {
  font-family: "PT Sans";
  src:  local("PT Sans"),
        url('../fonts/web/ptsans.woff2') format('woff2'),
        url('../fonts/web/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:  local("PT Sans"),
        url('../fonts/web/ptsansbold.woff2') format('woff2'),
        url('../fonts/web/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-gray: #F2F2F2;
  --alpha-black: rgba(0,0,0,0.3);
  --alpha-white: rgba(255, 255, 255, 0.3);
  --alpha-footer: rgba(255,255,255,0.9);
  --deep-blue: #669EC0;
  --deep-brown: #604E43;
  --deep-gray: #EBEBEB;
  --dark-gray: #A9A9A9;
  --dark-brown: #333333;
  --intense-brown: #503E33;
  --intense-blue: #5496BD;
  --light-gray: #BDBBBC;
  --light-gray-index: #EEEEEE;
  --special-color: #666666;
  --shadow-color: rgba(0,1,1,0.2);
  --gray-border: #E5E5E5;
  --toggle-color: #ABABAB;
  --basic-sorting: #CACACA;
}

/* Global */

body {
  min-width: 1200px;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--basic-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* wrapper */

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--shadow-color);
}

.wrapper-index {
  position: relative;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */

.main-navigation {
  font-weight: bold; 
  background-color: var(--basic-white);
}

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation li {
  margin-top: 14px;
  margin-bottom: 15px;
}

.site-navigation li:nth-of-type(4n+5) {
  margin-left: 72px;
  margin-right: 134px;
}

.site-navigation li:nth-of-type(4n+6) {
  margin-right: 418px;
}

.site-navigation li:nth-of-type(4n+8) {
  margin-left: 147px;
  margin-right: 72px;
}

.site-navigation li:nth-of-type(1) {
  margin-left: 72px;
  margin-right: 134px;
}

.site-navigation li:nth-of-type(2) {
  margin-right: 418px;
}

.site-navigation li:nth-of-type(3) { 
  margin-right: 147px;
}

.site-navigation li:nth-of-type(4) {
  margin-right: 72px;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--alpha-black);
}

 /* index */ /* about */

 .about {
  position: relative;
  z-index: 2;
}

.about-text {
  margin-top: 33px;
  margin-bottom: 46px; 
  text-align: center;

  font-size: 21px;
  font-weight: bold;
}

.features-text {
  margin: 0;
  margin-bottom: 51px;
  color: var(--dark-brown);
}

/* features-part1 */

.part1-firstbox {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.part1-firstbox h3 {
  margin-top: 47px;
  margin-bottom: 27px;
  text-align: center;

  font-size: 21px;
  font-weight: bold;
}

.part1-firstbox span {
  display: block;

  margin-bottom: 23px;
  text-align: center;
}

.part1-firstbox p {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

.part1-secondbox {
  min-height: 256px;
  background-color: var(--basic-blue);
  background-image: url('../img/image.jpg');
  background-repeat: no-repeat;
  background-size: 800px 256px;
}

/* features-part2 */

.part2-features-list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.part2-list-item h3 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.part2-list-item p {
  margin: 0;
  color: var(--dark-brown);
}

.part2-list-item h3 {
  position: relative;

  margin-top: 160px;
  margin-bottom: 25px;
  text-align: center;
}

.part2-list-item p {
  margin-bottom: 82px;
  text-align: center;
}

.part2-list-item:nth-of-type(1) h3::before {
  position: absolute;
  content: " ";
  top: -98px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.part2-list-item:nth-of-type(2) h3::before {
  position: absolute;
  content: " ";
  top: -98px;
  left: 162px;

  width: 75px;
  height: 70px;

  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.part2-list-item:nth-of-type(3) h3::before {
  position: absolute;
  content: " ";
  top: -105px;
  left: 168px;

  width: 64px;
  height: 77px;

  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* features-part3 */

.part3-firstbox {
  min-height: 256px;
  background-color: var(--basic-blue);
  background-image: url('../img/image_2.jpg');
  background-repeat: no-repeat;
  background-size: 800px 256px;
}

.part3-secondbox {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.part3-secondbox h3 {
  margin-top: 50px;
  margin-bottom: 27px;
  text-align: center;

  font-size: 21px;
  font-weight: bold;
}

.part3-secondbox span {
  display: block;

  margin-bottom: 23px;
  text-align: center;
}

.part3-secondbox p {
  margin-bottom: 51px;
  text-align: center;
}

/* features-part4 */

.features-part4 {
  background-color: var(--light-gray-index);
}

.part4-features-list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.part4-list-item h3 {
  margin: 0;
  margin-top: 46px;
  margin-bottom: 27px;
  text-align: center;

  font-size: 21px;
  font-weight: bold;
}

.part4-list-item span {
  display: block;

  margin-bottom: 23px;
  text-align: center;
}

.part4-list-item p {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

/* search */

.search {
  position: relative;
  z-index: 1;

  line-height: 24px;
}

.popup-wrapper {
  background-color: var(--basic-white);
}

.search h3{
  margin: 0;
  margin-top: 58px;
  margin-bottom: 16.5px;

  font-size: 30px;
  font-weight: bold;
}

.search p {
  margin-bottom: 46.5px;
  text-align: center;
  color: var(--dark-brown);
} 

.button-search {
  width: 568px;
  padding-top: 28px;
  padding-bottom: 30px;
  border: none;

  font-family: inherit;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: inherit;

  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-search:hover,
.button-search:focus {
  background-color: var(--deep-brown);
}

.button-search:active {
  color: var(--alpha-white);
  background-color: var(--intense-brown);
}

.search-form {
  position: absolute;
  top: 291px;
  left: 316px;
  z-index: -1;

  width: 568px;
  padding: 55px;
  box-sizing: border-box;

  line-height: inherit;
  font-size: inherit;
  font-weight: bold;

  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px var(--shadow-color);
}

.arrival-date {
  margin-right: 20px;
}

.departure-date {
  margin-right: 16px;
}

.adults {
  margin-right: 39px;
}

.search-form p {
  position: relative;

  padding:0;
  margin: 0;
}

.search-form input {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  border: 0;
  background-color: var(--basic-gray);
}

.search-form input:hover {
  background-color: var(--deep-gray);
}

.search-form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--gray-border);
}

.search-form .arrival-input,
.search-form .departure-input {
  width: 346px;
  padding-left: 12px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.arrival-calendar,
.departure-calendar{
  position: absolute;
  top: 7px;
  right: 0px;

  border: none;
  background-color: transparent;
}

.button-calendar svg {
  fill: var(--dark-gray);
}

.button-calendar:hover svg {
  fill: var(--basic-black);
}

.button-calendar:active svg {
  fill: var(--basic-blue);
}

.search-form-firstbox p {
  display: inline-flex;

  width: 114px;
}

.search-form-firstbox button {
  padding: 10px;
  border: 0;
  flex-grow: 1;
}

.wrapper-adults,
.wrapper-children {
  display: flex;
  align-items: center;
}

.wrapper-children p {
  margin-left: 26px;
}

.search-form-firstbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 56px;
}

.search-form-firstbox .button-minus,
.search-form-firstbox .button-plus {
  position: relative;

  cursor: pointer;
  background-color: var(--basic-gray);
}

.search-form-firstbox .button-minus::before {
  position: absolute;
  content: " ";
  width: 12px;
  height: 3px;

  background-color: var(--dark-gray);
}

.search-form-firstbox .button-plus::before {
  position: absolute;
  content: " ";
  top: 18px;
  right: 13px;

  width: 12px;
  height: 3px;
  background-color: var(--dark-gray);
}

.search-form-firstbox .button-plus::after {
  position: absolute;
  content: " ";
  top: 18px;
  right: 13px;

  width: 12px;
  height: 3px;
  transform: rotate(90deg);
  background-color: var(--dark-gray); 
}

.search-form-firstbox .button-minus:hover::before,
.search-form-firstbox .button-minus:focus::before,
.search-form-firstbox .button-plus:hover::before,
.search-form-firstbox .button-plus:focus::before,
.search-form-firstbox .button-plus:hover::after,
.search-form-firstbox .button-plus:focus::after {
  background-color: var(--basic-black);
}

.search-form-firstbox .button-minus:active::before,
.search-form-firstbox .button-plus:active::before,
.search-form-firstbox .button-plus:active::after {
  background-color: var(--basic-blue);
}

.search-form-firstbox input {
  width: 54px;
  text-align: center; 
}

.button-to-find {
  width: 458px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  box-sizing: border-box;

  line-height: inherit;
  font-size: 21px;
  font-weight: inherit; 
  text-transform: inherit;

  color: var(--basic-white);
  background-color: var(--basic-blue);
  flex-grow: 1;
}

.button-to-find:hover,
.button-to-find:focus {
  background-color: var(--deep-blue);
}

.button-to-find:active {
  color: var(--alpha-white);
  background-color: var(--intense-blue);
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.search-form input[placeholder] {
  line-height: inherit;
  font-size: inherit;
  text-transform: inherit;
}

.search-form input::-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.search-form input::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

/* map */

.map {
  background-image: url('../img/map.jpg');
  background-size: 1200px 594px;
  background-repeat: no-repeat;
}

.map iframe {
  border: 0;
}

/* footer */

.contacts {
  min-height: 120px;
  background-color: var(--alpha-footer);
}

.contacts-text {
  margin-left: 125px;
  align-self: flex-start;
  font-size: 21px;
  font-weight: bold;
}

.contacts-text span {
  display: block;

  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}

.contacts-text a {
  color: var(--basic-black);
}

.contacts-text a:hover,
.contacts-text a:focus {
  color: var(--basic-blue);
}

.contacts-text a:active {
  color: var(--alpha-black);
}

.footer-logo-box a:hover,
.footer-logo-box a:focus {
  color: var(--basic-blue);
}

.footer-logo-box a:active {
  color: var(--light-gray);
}

.social {
  margin: 0 auto;
  margin-bottom: 1px;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 151px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-list-item a {
  position: relative;

  padding-top: 14.5px;
  padding-right: 23px;
  padding-bottom: 14.5px;
  padding-left: 23px;
  background-color: var(--basic-blue);
}

.twitter svg,
.youtube svg {
  position: absolute;
  top: 15px;
  right: 13px;
}

.facebook svg {
  position: absolute;
  top: 13px;
  right: 17px;
}

.social-list-item a:hover,
.social-list-item a:focus {
  background-color: var(--deep-blue);
}

.social-list-item a:active {
  background-color: var(--intense-blue);
}

.social-list-item a:active svg {
  opacity: .3;
}



.footer-logo-box {
  display: flex;
  align-items: center;

  margin-top: 4px;
  margin-right: 138px;
  margin-bottom: 2px;
  margin-left: 13px;
}

.footer-logo-box p:first-of-type {
  margin: 0px;
  margin-right: 8px;
  margin-bottom: 6px;
}

 .footer-logo {
  fill: var(--basic-black);
}

.footer-logo:hover,
.footer-logo:focus {
  fill: var(--basic-blue);
}

.footer-logo:active {
  fill: var(--light-gray);
}

.contacts-index {
  position: absolute;
  bottom: 7px;
  
  width: 100%;
  min-height: 120px;
}

/* inner */ /* filter */
.filter {
  color: var(--basic-white);
  background-image: url('../img/background.jpg');
}

.filter-form {
  line-height: 21px;
}

.filter-form fieldset {
  padding: 0px;
  border: none;
  margin: 0px;
  margin-top: 27px;

  font-size: 14px;
  font-weight: normal;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.form-container1 legend {
  margin-top: -1px;
  margin-right: 2px;
  margin-bottom: 25px;
  margin-left: -1px;
}

.form-container1 legend:last-child {
  margin-left: -5px;
}

.form-container1 div {
  position: relative;

  margin-bottom: 24.5px;
}

div.wifi,
div.filter-apartments {
  margin-bottom: 32px;
}

.checkbox + label {
  position: relative;

  padding: 0;
  padding-right: 35px;
  cursor: pointer;
}

.checkbox + label::before  {
  position: absolute;
  content: " ";
  top: 0;
  left: -41px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:checked + label::before {
  left: -39px;
    
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:disabled + label::before {
  background-image: url(../img/checkbox-off-dis.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:checked:disabled + label::before {
  background-image: url(../img/checkbox-on-dis.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-container1 div {
  padding-left: 39px;
}

.form-container2 legend {
  margin-top: 0px;
  margin-bottom: 11px;
}

.form-container2-price {
  position: relative;
  display: flex;

  width: 314px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.form-container2-price::before {
  position: absolute;
  content: " ";
  top: 5px;
  left: 158px;

  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.form-container2-price input {
  position: relative;

  width: 95px;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  border: none;
  margin: 0;
  color: var(--basic-white);
  background-color: transparent;
}

input[name="min-price"] {
  padding-left: 62px;
  margin-right: 5px;
}

input[name="max-price"] {
  padding-left: 52px;
  padding-right: 6px;
}

.form-container2-price input::-moz-placeholder {
  text-transform: uppercase;
  color: var(--basic-white);
  opacity: 1;
}

.form-container2-price input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: var(--basic-white);
  opacity: 1;
}

.form-container2-range {
  position: relative;

  margin-top: 20px;
}

.full-range {
  height: 2px;
  background-color: var(--alpha-white);
}

.half-range {
  width: 83%;
  height: 2px;
  background-color: var(--basic-white);
}

.form-container2-range .toggle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;

  cursor: pointer;
  background-color: var(--toggle-color);
  box-shadow: 0px 1px  1px var(--toggle-color);
}

.form-container2-range .toggle-max {
  left: 253px;
}

.form-container2-range .toggle:hover {
  top: -10px;
  width: 5px;
  height: 5px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;

  background-color: var(--toggle-color);
  box-shadow: 0px 2px 1px var(--toggle-color);
}

.filter-button {
  width: 137px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 34px;
  margin-left: 85px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  text-align: center;

  font-family: inherit;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting-box {
  line-height: 18px;
  font-size: 12px;
}

.sorting-container {
  border-bottom: 1px solid var(--gray-border);
}

.sorting-box p:nth-of-type(1) {
  margin-top: 29px;
  margin-left: 74px;
  margin-right: 46px;
  margin-bottom: 32px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.sorting-box p:nth-of-type(2) {
  margin-top: 16px;
  margin-right: 39px;
  margin-bottom: 24px;
}

.sorting-box button {
  padding: 0;
  border: none; 
  border-bottom: 1px dotted var(--basic-blue);
  margin-right: 28px;
  margin-bottom: 6px;

  font-family: inherit;
  text-transform: uppercase;
  color: var(--alpha-black);
  background-color: var(--basic-white);
}

.sorting-box button:hover,
.sorting-box button:focus {
  color: var(--basic-blue);
}

.sorting-box button:active {
  border:none;
  color: var(--basic-black);
}

.sorting-box button.current {
  border:none;
  color: var(--basic-blue);
}

.sorting-box button.current:active {
  color: var(--basic-black);
}

.sorting-buttons button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.sorting-buttons {
  margin-top: 32px;
  margin-right: 73px;
}

.sorting-buttons .sorting-button-up {
  margin-right: 7px;
}

.sorting-buttons svg{
  fill: var(--basic-sorting);
}

.sorting-button-up:hover svg,
.sorting-button-up:focus svg,
.sorting-button-down:hover svg,
.sorting-button-down:focus svg {
  fill: var(--basic-black);
}

.sorting-button-up:active svg,
.sorting-button-down:active svg {
  fill: var(--basic-blue);
}

.sorting-buttons svg.current {
  fill: var(--basic-blue);
}

/* hotels */

.hotels-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-list-item {
  border-bottom: 1px solid var(--gray-border);
}

.hotels-container {
  margin-top: 21px;
  margin-bottom: 22px;
}

.hotels-container-img {
  flex-shrink: 0;
  margin-top: 10px;
  margin-right: 29px;
  margin-left: 73px;
}

.hotels-list-item h3 {
  margin: 0; 
  margin-bottom: 10px; 
  font-size: 21px;
  font-weight: bold;
}

.hotels-list-item p {
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
  color: var(--dark-brown);
}

.hotels-list-item a {
  color: var(--basic-black);
}

.hotels-list-item a:hover,
.hotels-list-item a:focus {
  color: var(--basic-blue);
}

.hotels-list-item a:active {
  color: var(--alpha-black);
}

.hotels-container-firstbox,
.hotels-container-secondbox {
  display: inline-block;
  vertical-align: bottom;
}

.hotels-list-item span {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;

  padding-top: 3px;
  padding-left: 15px;
  padding-bottom: 3px;
  padding-right: 12px;
  margin-bottom: 30px;
  margin-right: 73px;

  line-height: 21px;
  color: var(--special-color);
  background-color: var(--basic-gray);
}

.hotels-list-item span:before {
  position: absolute;
  content: " ";
  top: -65px;
  right: 0px;
  
  width: 90px;
  height: 17px;
  background-image: url('../img/star_group4.svg');
  background-repeat: no-repeat;
}

.hotels-list-item:nth-of-type(2) span:before {
  background-image: url('../img/star_group3.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.hotels-list-item:nth-of-type(3) span:before {
  background-image: url('../img/star_group2.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.hotels a.details {
  padding: 0 17px;
  padding-top: 4px;
  padding-bottom: 4px;

  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.hotels a.details:hover,
.hotels a.details:focus {
  background-color: var(--deep-blue);
}

.hotels a.details:active {
  color: var(--alpha-white);
  background-color: var(--intense-blue);
}

.hotels a.reservation {
  padding: 0 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.hotels a.reservation:hover,
.hotels a.reservation:focus {
  background-color: var(--deep-brown);
}

.hotels a.reservation:active {
  color: var(--alpha-white);
  background-color: var(--intense-brown);
}

/* layout */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-navigation {
  position: relative;
}

.main-logo {
  position: absolute;
  top: -1px;
  left: 530px;
  z-index: 2;
}

.intro {
  position: relative;
}

.intro-logo {
  position: absolute;
  top: 77px;
  left: 372px;
}

.intro:after {
  position: absolute;
  content: " ";
  left: 0;
  width: 100%;
  height: 58px;
  bottom: 5px;
  background-image: url('../img/intro-mask.svg');
  background-repeat: no-repeat;
  background-position: center center; 
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.part1,
.part3 {
  display: flex;
}

.part2-features-list,
.part4-features-list {
  display: flex;
}

.part1 .part1-firstbox {
  flex-basis: 400px;
}

.part1 .part1-secondbox {
  flex-basis: 800px;
}

.part2-features-list li {
  flex-basis: 400px;
}

.part3-firstbox {
  flex-basis: 800px;
}

.part3-secondbox {
  flex-basis: 400px;
}

.part4-features-list li {
  flex-basis: 400px;
}

.features-container {
  display: grid;
  grid-template-rows: minmax(256px) minmax(330px) minmax(256px) minmax(256px);
  grid-template-columns: 1fr 1fr 1fr;
}

.part1,
.part2,
.part3,
.part4 {
  grid-column: 1 / -1;
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  display: flex;
  align-items: center;
}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-list-item {
  display: flex;
  justify-content: space-between;
}

.hotels-container {
  display: flex;
  align-items: flex-start;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.form-container1 {
  display: flex;
  justify-content: space-between;
  margin-left: 73px;
  flex-shrink: 0;
}

.form-container1 fieldset:nth-of-type(1) {
  margin-right: 113px;
}

.form-container2 fieldset {
  display: flex;
  flex-direction: column;
}

.form-container2 {
  margin-right: 73px;
}

.sorting-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
}

/*interactive*/

.popup-show {
  animation: show 1.5s;
  display: block;
}

.popup-close {
  animation: close 1.5s;
  transform: translateY(-100%);
  display: none;
}


/*animation*/

@keyframes show {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes close {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}