@font-face {
  font-face: "PT sans";
  src: url('../fonts/web/ptsans.woff2') format('woff2'),
  url('../fonts/web/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-face: "PT sans";
  src: url('../fonts/web/ptsansbold.woff2') format('woff2'),
  url('../fonts/web/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-gray: #F2F2F2;
  --alpha-black: rgba(0,0,0,0.3);
  --alpha-white: rgba(255, 255, 255, 0.3);
  --alpha-footer: rgba(255,255,255,0.9);
  --deep-blue: #669EC0;
  --deep-brown: #604E43;
  --deep-gray: #EBEBEB;
  --dark-gray: #A9A9A9;
  --dark-brown: #333333;
  --intense-brown: #503E33;
  --intense-blue: #5496BD;
  --light-gray: #BDBBBC;
  --light-gray-index: #EEEEEE;
  --special-color: #666666;
  --shadow-color: rgba(0,1,1,0.2);
}

/* Global */

body {
  min-width: 1280px;
  padding: 0;
  font-family: "PT sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* wrapper */

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5 15px var(--shadow-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* header */

.main-navigation {
  font-weight: bold;
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--alpha-black);
}

 /* index */ /* about */

.about-text {
  font-size: 21px;
  font-weight: bold;
}

.features-text {
  color: var(--dark-brown);
}

/* features-part1 */

.part1-firstbox {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.part1-firstbox h3 {
  font-size: 21px;
  font-weight: bold;
}

/* features-part2 */

.part2-features-list {
  line-height: 21px;
  list-style: none;
}

.part2-list-item h3 {
  font-size: 21px;
  font-weight: bold;
}

.part2-list-item p {
  color: var(--dark-brown);
}

/* features-part3 */

.part3-secondbox {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.part3-secondbox h3 {
  font-size: 21px;
  font-weight: bold;
}

/* features-part4 */

.features-part4 {
  background-color: var(--light-gray-index);
}

.part4-features-list {
  line-height: 21px;
  list-style: none;
}

.part4-list-item h3 {
font-size: 21px;
font-weight: bold;
}

/* search */

.search {
  line-height: 24px;
}

.search h3{
  font-size: 30px;
  font-weight: bold;
}

.search p {
  color: var(--dark-brown);
} 

.button-search {
  font-family: inherit;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-search:hover,
.button-search:focus {
  background-color: var(--deep-brown);
}

.button-search:active {
  color: var(--alpha-white);
  background-color: var(--intense-brown);
}

/* search-popup */

.search-popup {
  display:none;
}

/* footer */

.contacts {
  background-color: var(--alpha-footer);
}

.contacts-text {
  font-size: 21px;
  font-weight: bold;
}

.contacts-text a {
  color: var(--basic-black);
}

.contacts-text a:hover,
.contacts-text a:focus {
  color: var(--basic-blue);
}

.contacts-text a:active {
  color: var(--alpha-black);
}

.footer-logo-box a:hover,
.footer-logo-box a:focus {
  color: var(--basic-blue);
}

.footer-logo-box a:active {
  color: var(--light-gray);
}


/* inner */ /* filter */
.filter {
  color: var(--basic-white);
  background-image: url('../img/background.jpg');
}

.filter-form {
  line-height: 21px;
}

fieldset {
  font-size: 16px;
  font-weight: normal;
  border: none;
}

legend {
  font-weight: bold;
}

.filter-button {
  font-family: inherit;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;
  
}

.sorting-box {
  font-size: 12px;
  line-height: 18px;
}

.sorting-box p:nth-of-type(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-box button {
  font-family: inherit;
  border: none; 
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--alpha-black);
  background-color: var(--basic-white);
}

.sorting-box button:hover,
.sorting-box button:focus {
  color: var(--basic-blue);
}

.sorting-box button:active {
  border:none;
  color: var(--basic-black);
}

.sorting-box button.current {
  border:none;
  color: var(--basic-blue);
}

.sorting-box button.current:active {
  color: var(--basic-black);
}

/* hotels */

.hotels-list {
  list-style: none;
}

.hotels-list-item a {
  color: var(--basic-black);
}

.hotels-list-item a:hover,
.hotels-list-item a:focus {
  color: var(--basic-blue);
}

.hotels-list-item a:active {
  color: var(--alpha-black);
}

.hotels-list-item h3 {
  font-size: 21px;
  font-weight: bold;  
}

.hotels-list-item p {
  line-height: 21px;
  color: var(--dark-brown);
}

.hotels-list-item span {
  line-height: 21px;
  color: var(--special-color);
  background-color: var(--basic-gray);
}

.hotels .details {
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.hotels .details:hover,
.hotels .details:focus {
  background-color: var(--deep-blue);
}

.hotels .details:active {
  color: var(--alpha-white);
  background-color: var(--intense-blue);
}

.hotels .reservation {
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.hotels .reservation:hover,
.hotels .reservation:focus {
  background-color: var(--deep-brown);
}

.hotels .reservation:active {
  background-color: var(--intense-brown);
}

/* layout */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.site-navigation li {
  margin-bottom: 29px;
  margin-top: 15px;
  flex-shrink: 0;
  
}

.site-navigation li:nth-of-type(1) {
  margin-left: 72px;
  margin-right: 134px;
}

.site-navigation li:nth-of-type(2) {
  margin-right: 200px;
}

.site-navigation li:nth-of-type(3) {
  margin-left: 200px;
  margin-right: 147px;
}

.site-navigation li:nth-of-type(4) {
  margin-right: 72px;
}

.main-logo {
  display:none;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  flex-basis: 80px;
}

.features-text {
  flex-basis: 26px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-list-item {
  display:flex;
  justify-content: space-between;
  flex-basis: 150px;
}

.hotels-list-item span {
  align-self: end;
  margin-bottom: 30px;
  margin-right: 73px;
}

.part1,
.part3 {
  display: flex;
}

.part2-features-list,
.part4-features-list {
  display: flex;
}

.part1 .part1-firstbox {
  flex-basis: 400px;
}

.part1 .part1-secondbox {
  flex-basis: 800px;
}

.part2-features-list li {
  flex-basis: 400px;
}

.part3-firstbox {
  flex-basis: 800px;
}

.part3-secondbox {
  flex-basis: 400px;
}

.part4-features-list li {
  flex-basis: 400px;
}

.features-container {
  display: grid;
  grid-template-rows: 256px 330px 256px 256px;
  grid-template-columns: 1fr 1fr 1fr;
}

.part1,
.part2,
.part3,
.part4 {
  grid-column: 1 / -1;
}

form {
  display: flex;
  justify-content: space-between;
}

fieldset {
  margin: 0px;
  padding: 0px;
  margin-top: 26px;
  margin-bottom: 32px;
}

.form-container1 {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 73px;
}

.form-container1 fieldset:nth-of-type(1) {
  padding-right: 119px;
}

.form-container2 fieldset {
  display: flex;
  flex-direction: column;
}

.form-container2 {
  margin-right: 73px;
}

.sorting-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sorting-box p:nth-of-type(1) {
  margin-left: 73px;
  margin-right: 46px;
}

.sorting-box p:nth-of-type(2) {
  margin-right: 40px;
}

.sorting-box button {
  margin-right: 33px;
}